//@import "./sass.scss";

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body .params-item {
  //border-radius: 15px;
  background-color: #647278;
  display: inline-block;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 8px;//0.5em;
  margin-bottom: 2px;//.125em;
  //display: block;
  list-style: none;
  //text-transform: uppercase;
  span{
    color: white;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
  }
  button{
    display: none;
    //background-color: transparent;
    //padding: 6px 10px;//0.4rem 0.6rem;
    //border-radius: 10px;
    //float: right;
  }
  //button:hover, button:focus {
  //  color: black;
  //  background-color: transparent;
  //  cursor: pointer;
  //}
  //.bridge-item{
  //  cursor: pointer;
  //  &:hover{
  //    color:yellow;
  //  }
  //}
}

.parent-container {
  flex: 1;
  display: flex;
  flex-direction: row;

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;//darkgray;
  }

  ::-webkit-scrollbar-thumb {
    background: white;//black;
  }

  .nodes-panel {
    flex: 0 0 144px;//9rem;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 144px;//9rem;
    background: #272c33;//#3c3c3c;
    border-right: 2px solid black;
    color: white;

    .logo {
      position: absolute;
      width: 100%;
      height: 60px;
      background-color: #242633;
      line-height: 60px;
      text-align: center;

      span {
        vertical-align: middle;
        color: #fffaed;
        font-size: 30px;
        font-weight: 700;
      }
    }

    input {
      display: block;
      font-size: 16px; //1.0em;
      padding: 4px; //0.25em;
      background-color: transparent; //white;
      color: white;
      width: 100%;
      margin-bottom: 16px; //1em;
      border-radius: 3px;
      border: 1px solid #BABABA;
    }

    .search{
      margin-top: 4px;
      margin-left: 2px;
    }

    .search-icon{
      position: absolute;
      left: 163px;
      margin-top: 6px;
    }

    .group-list{
      overflow: auto !important;
      padding: 0 0;
      list-style: none;
      position: absolute;
      height: 98%;
      width: 144px;//9rem;
      ul{
        text-align: center;
      }
      .group-header{
        cursor: pointer;
        margin-left: 3px;
        margin-right: 2px;
        border: 1px white solid;
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
        .dropdown-icon {
          transition: transform .4s ease-in;
          transform: rotate(0deg);
          float  : left;
          display   : block;
          top       : 0.5em;
          left      : 0.5em;
          font-size : 1.0em;
          padding   : 0;
          margin-right: 10px;
          &:before {
            content: '\25BA';
          }
        }
        .dropdown-icon-open {
          @extend .dropdown-icon;
          transition: transform .4s ease-out;
          transform: rotate(90deg);
        }
      }
      ul{
        overflow: hidden;
        max-height: 0px;
        transition: 0.6s;
        margin-top: 10px;
        padding: 0px 10px;
        position: relative;
        list-style: none;
      }
    }

    .node-wrapper {
      flex: 0 0 auto;
      margin-bottom: 1rem;

      .basic-node {
        width: 100px;
      }
    }
  }

  .diagram-drop-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .do-buttons-container{
      position: absolute;
      bottom: 15px;
      left: 160px;
      z-index: 1000000;
      display: inherit;

      .do-img {
        z-index: 100;
        text-align: center;
        content: "";
        display:block;
        height:40px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 40px;
        z-index: 1;
        margin: auto 5px;
        cursor: pointer;
      }

      .undo-img{
        @extend .do-img;
        background-image: url("../images/undo-arrow-in-a-circle (1).svg");

      }

      .redo-img{
        @extend .do-img;
        background-image: url("../images/redo-arrow-in-a-circle (1).svg");
      }

      .target-img{
        @extend .do-img;
        background-image: url("../images/target (1).svg");
      }

      a[disabled]{
        opacity: 0.4;
        cursor: default;
      }
    }

    .react-js-diagrams-canvas {
      flex: 1;
      background: darkgray;
    }
  }

  .controls {
    //flex: 0 0 20rem;
    //max-width: 20rem;
    width: 320px;//20rem;
    overflow: hidden;
    background: #272c33;
    border-left: 2px solid black;
    -webkit-transition: width 1s;
    transition: width 0.7s;

    .hiding-button {
      border-radius: 5px;
      border: solid 1px black;
      width: 15px;
      height: 50px;
      z-index: 1;
      position: absolute;
      top: 45%;
      right: 312px;
      background: #1e1e1e;
      transition: right 0.7s;

      .arrows{
        text-align: center;
        content: "";
        display:block;
        height:100%;
        width:100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .arrow-left {
        @extend .arrows;
        //background-image: url("../images/chevron-pointing-to-the-left.svg");
        background-image: url("../images/back.svg");
      }
      .arrow-right {
        @extend .arrows;
        //background-image: url("../images/right-chevron.svg");
        background-image: url("../images/next.svg");
      }
    }

    .parameters{
      margin: 15px;

      ///////////////TABS////////////

      .tabs{
        width: 100%;

        .tabs__labels {
          text-align: center;
          list-style: none;
          margin-bottom: 15px;
          padding: 0;
          line-height: 24px;
          position: relative;
          &:after {
            position: absolute;
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid #AAA;
            z-index: 1;
          }
          &:before{
            z-index: 1;
          }
          li {
            cursor: pointer;
            width: auto;
            background: transparent;//linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
            color:white;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
            text-shadow: 0 1px black;
            margin: 0 2px;
            padding: 0 15px;
            position: relative;
            z-index: 0;
            border: 1px solid #AAA;
            display: inline-block;
            //border-top-left-radius: 6px;
            //border-top-right-radius: 6px;
            &:hover{
              background: white;
              color: black;
              text-shadow: 0 1px darkgray;
            }
          }
          .active {
            background: #121923;
            z-index: 2;
            border-bottom: 1px solid #272c33;
            a{
              color: white;
            }
          }
        }
      }

      ///////////////TABS////////////

      .has-error {
        border: 1px solid #f04628;
        box-shadow: inset 0 0 3px rgba(240, 70, 40, 0.5);
        background: rgba(240, 70, 40, 0.15);
        background-color: #fc8888;
      }

      .normalJson {
        background-color: #a3ffa3;
        padding-bottom: 1px;
        padding-top: 1px;
        border-radius: 3px;
        border: 1px solid #BABABA;
      }

      .header{
        font-size: 20px;//1.3rem;
        font-weight: bold;
        text-align: center;
      }

      .help {
        padding: 8px;//0.5em;
        background: rgba(240, 70, 40, 0.5);
        &:empty {
          display: none;
        }
      }

      label {
        color: white;
        font-size: 19px;//1.2em;
        display: block;
        padding-bottom: 4px;//0.25em;
      }

      select {
        display: block;
        font-size: 16px;//1.0em;
        padding: 4px;//0.25em;
        background-color: transparent;//white;
        color: white;
        width: 100%;
        margin-bottom: 16px;//1em;
        border-radius: 3px;
        border: 1px solid #BABABA;
        option {
          background-color: #242633;
        }
      }

      input{
        @extend select;
        width: 97%;
      }

      textarea{
        @extend select;
        //background-color: transparent;
        width: 97%;
        resize: vertical;
        min-height: 80px;
      }

      button {
        display: inline-block;
        border-radius: 3px;
        border: none;
        font-size: 16px;//1.0rem;
        padding: 10px 24px;//0.6rem 1.5em;
        background: #015e16;//#69c773;
        //border: 1px solid white;
        color: white;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin: 0 4px;//0 0.25rem;
        text-align: center;
      }

      button:hover, button:focus {
        color: black;
        background-color: #69c773;
       // border: 1px solid black;
        //opacity: 0.75;
        cursor: pointer;
      }

      button:active {
        opacity: 1;
        box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
      }
      /////////////////////////CHECKBOX/////////////////////////
      input[type=checkbox] {
        //width: 50px;
        //height: 20px;
        background-color: transparent;
        margin-right: auto;
        margin-left: auto;
        width: 98%;
        cursor: pointer;
        text-align: -webkit-center;
        text-align: -moz-center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0
      }
      input[type=checkbox]:after {
        padding-right: 3px;
        top: 1px;
        font-family: 'Arial' !important;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;//1.0rem;//18px;
        display:block;
        content: "false";
        color: white;
        background-color: #c43c3c;//red;
      }
      input[type=checkbox]:checked:after {
        content: "true";
        color: white;
        background-color: #217c35;//green;
      }
      /////////////////////////CHECKBOX/////////////////////////

      .bridge-header{
        margin: 7px;
        font-weight: bold;
        display: inherit;
      }
      .bridge-button{
        height: min-content;
        background-color:#377def;
        &:hover, &:focus{
          background-color: #81aff9
        }
      }
      .params-list {
        //border: 1px solid white;
        //border-radius: 15px;
        color: white;
        text-align: left;
        padding: 0;
        margin-top: 10px;
        overflow: auto;
        height: 350px;
        li {
          //border-radius: 15px;
          display: inline-block;
          width: -webkit-fill-available;
          width: -moz-available;
          padding: 8px;//0.5em;
          margin-bottom: 2px;//.125em;
          //display: block;
          list-style: none;
          //text-transform: uppercase;
          &:hover{
            cursor: pointer;
          }
          span{
            vertical-align: -webkit-baseline-middle;
            vertical-align: -moz-middle-with-baseline;
          }
          button{
            background-color: transparent;
            padding: 6px 10px;//0.4rem 0.6rem;
            border-radius: 10px;
            float: right;
          }
          button:hover, button:focus {
            color: black;
            background-color: transparent;
            cursor: pointer;
          }
          .bridge-item{
            cursor: pointer;
            &:hover{
              color:yellow;
            }
          }
        }
        li:nth-child(2n) {
          background-color: #3f4c60;//#1d283a;//lighten(#333333, 10%);
        }
        li:nth-child(2n+1) {
          background-color: #1d283a;//#071121;//#333333;
        }
      }
    }
  }
}

// Diagram SASS
.port{
  width: 15px;
  height: 15px;
  background: rgba(white,0.1);
  &:hover,&.selected{
    background: white;
  }
}

.basic-node {
  min-width: 100px;
  background-color: rgb(30,30,30);
  border-radius: 5px;
  font-family:Arial;
  color: white;
  border: solid 2px black;
  overflow: visible;
  font-size: 11px;
  box-shadow: 0 0 10px rgba(black,0.5);

  .title{
    background: rgba(black,0.3);
    display: flex;
    white-space: nowrap;
    >*{
      align-self: center;
    }

    .fa{
      padding: 5px;
      opacity: 0.2;
      cursor: pointer;

      &:hover{
        opacity: 1.0;
      }
    }

    .name{
      flex-grow: 1;
      padding: 5px 5px;
    }
    .name-black{
      @extend .name;
      color:#000000;
      font-weight: bold;
    }
  }
  .app-center{
    text-align: -webkit-center;
    text-align: -moz-center;
  }
  .app-img {
    text-align: center;
    content: "";
    display:block;
    height:25px;
    width:25px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .app-img-start{
    @extend .app-img;
    background-image: url("../images/press-play-button.svg");
  }
  .app-img-stop{
    @extend .app-img;
    background-image: url("../images/checked.svg");
  }
  .app-img-answer{
    @extend .app-img;
    background-image: url("../images/phone-call.svg");
  }
  .app-img-hangup{
    @extend .app-img;
    background-image: url("../images/phone-call (1).svg");
  }
  .app-img-playback{
    @extend .app-img;
    background-image: url("../images/play-button-sing.svg");
  }
  .app-img-playNdigits{
    @extend .app-img;
    background-image: url("../images/dial-pad.svg");
  }
  .app-img-log{
    @extend .app-img;
    background-image: url("../images/icon.svg");
  }
  .app-img-if{
    @extend .app-img;
    background-image: url("../images/comparision-table.svg");
  }
  .app-img-switch{
    @extend .app-img;
    background-image: url("../images/organization.svg");
  }
  .app-img-queue{
    @extend .app-img;
    background-image: url("../images/line.svg");
  }
  .app-img-queueTimer{
    @extend .app-img;
    background-image: url("../images/stopwatch-tool-to-control-test-time.svg");
  }
  .app-img-recordFile{
    @extend .app-img;
    background-image: url("../images/microphone.svg");
  }
  .app-img-recordSession{
    @extend .app-img;
    background-image: url("../images/sound-waves.svg");
  }
  .app-img-echo{
    @extend .app-img;
    background-image: url("../images/voice-speaker.svg");
  }
  .app-img-sleep{
    @extend .app-img;
    background-image: url("../images/hourglass.svg");
  }
  .app-img-conference{
    @extend .app-img;
    background-image: url("../images/presentation.svg");
  }
  .app-img-blackList{
    @extend .app-img;
    background-image: url("../images/notebook-with-list-black-interface-symbol.svg");
  }
  .app-img-calendar{
    @extend .app-img;
    background-image: url("../images/calendar.svg");
  }
  .app-img-users{
    @extend .app-img;
    background-image: url("../images/operator.svg");
  }
  .app-img-outboundCall{
    @extend .app-img;
    background-image: url("../images/telephone-receiver-with-up-arrow.svg");
  }
  .app-img-sendEmail{
    @extend .app-img;
    background-image: url("../images/mail.svg");
  }
  .app-img-receiveFax{
    @extend .app-img;
    background-image: url("../images/fax.svg");
  }
  .app-img-httpRequest{
    @extend .app-img;
    background-image: url("../images/http.svg");
  }
  .app-img-park{
    @extend .app-img;
    background-image: url("../images/parking-sign.svg");
  }
  .app-img-pickup{
    @extend .app-img;
    background-image: url("../images/pickup.svg");
  }
  .app-img-tts{
    @extend .app-img;
    background-image: url("../images/tts.svg");
  }
  .app-img-variables{
    @extend .app-img;
    background-image: url("../images/sadd.svg");
  }
  .app-img-voicemail{
    @extend .app-img;
    background-image: url("../images/email.svg");
  }
  .app-img-customCode{
    @extend .app-img;
    background-image: url("../images/custom-css.svg");
  }
  .app-img-transfer{
    @extend .app-img;
    background-image: url("../images/forward-call.svg");
  }
  .app-img-exists{
    @extend .app-img;
    background-image: url("../images/search-in-folder.svg");
  }
  .ports{
    display: flex;
    background-image: linear-gradient(rgba(black,0.1),rgba(black,0.2));


    .in, .out{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .in-port,.out-port{
      display: flex;
      margin-top: 1px;
      >*{
        align-self: center;
      }
      .name{
        padding: 0 5px;
      }
    }

    .out-port{
      justify-content: flex-end;
      .name{
        justify-content: flex-end;
        text-align: right;
      }
    }
  }
  .ports-black{
    @extend .ports;
    color:#000000;
    font-weight: bold;
  }

}

